GS_PASSWORD=StrongPassw0rd!
OT_USER_DB_USER=ot_user
OT_USER_DB_PASSWORD=StrongPassw0rd!
OTOPENGAUSS_DB_PATH=/data/otopengauss/db
OTOPENGAUSS_LOG_PATH=/data/otopengauss/log
GS_DB=postgres
GAUSSLOG=/var/log/opengauss
GAUSSHOME=/usr/local/opengauss
PATH=/usr/local/opengauss/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
LD_LIBRARY_PATH=/usr/local/opengauss/lib
